body {
	font-family: Verdana;
	font-size: 10pt;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}

.pages_date_selector {
	 margin-right: 10px;
	 /*float: left;*/
}

.pane {
	position: relative;
	width:100%;
}

.col2 {
	width: 50%;
	overflow:auto;
}

.pane {
	/*float:left;*/
	min-height:100px;
}

.pages_table_container {
	width:100%;
}

.pages_table_pane {
	clear:left;
}

.distribution_pane,.trend_pane{
	height: 400px;
	overflow:hidden;
}

.loading_data {
	background-image: url({baseDir}/images/ajax-loader.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.distribution_chart_container, .trend_chart_container {
	height:100%;
}

/*.choose_aggregation_container {
	float: left;
	margin-bottom: -15px;
}

.choose_aggregation {
	float: right;
	margin: 0;
	margin-left: 5px;	
	padding: 0;
}

.choose_aggregation li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 9pt;
	text-decoration: underline;
	cursor: pointer;
}*/

table.dataTable tr.odd { background-color: #FAFAFA; }
table.dataTable tr.even { background-color: white; }

table.dataTable tr.odd td.sorting_1 { background-color: #FAFAFA; }
table.dataTable tr.odd td.sorting_2 { background-color: #DADCFF; }
table.dataTable tr.odd td.sorting_3 { background-color: #E0E2FF; }
table.dataTable tr.even td.sorting_1 { background-color: white; }
table.dataTable tr.even td.sorting_2 { background-color: #F2F3FF; }
table.dataTable tr.even td.sorting_3 { background-color: #F9F9FF; }



table.dataTable {
	border: 1px solid #BBBBBB;
    border-collapse: collapse;
}
table.dataTable tbody td,table.dataTable thead th,table.dataTable thead td {
	border: 1px solid #BBBBBB;
}

table.dataTable thead th {
	/*border-bottom:0;*/
}

table.dataTable tbody tr {
	cursor:pointer;
}

table.dataTable tr:hover,table.dataTable tr:hover td {
	background-color: #e7e9f9 !important; 
}

th.head_page {
	text-align: left;
	vertical-align:text-bottom;
}

th.head_page span {
	float:left;
	margin-top:2px;
}

th.head_page input {
	float:right;
}

td.total {
	font-style:italic;
}



/*a.page_link {
	color: black;
	text-decoration: none;
}*/

.overlay_loading {
	position: absolute;
	background-color: black;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	left: 0;
	top: 0;
	background-image: url({baseDir}/images/ajax-loader-black.gif);
	background-position:50% 50%;
	background-repeat: no-repeat;
}

div.no_data {
	position: absolute;
	left:50%;
	top:50%;
	/*padding: 5px;*/
}

.chart_col {
	position: fixed;
	left: 50%;
	top: 30px;
}

tr.selected td {
	font-weight: bold;
}

.date_selector {
	text-align:center;
	margin-top:5px;
	margin-bottom: 10px;
}